nav.top-menu {
    display: flex;
}

nav.top-menu ul {
    list-style: none;
}

nav.top-menu ul li {
    display: inline-block;
}

nav.top-menu ul li a {
    display: inline-block;
    color: hsl(50, 100%, 50%);
    text-decoration: none;
    padding: 6px 28px 7px 28px;
}

nav.top-menu ul li.active,
nav.top-menu ul li a:hover {
    background-color: hsl(50, 100%, 50%);
}

nav.top-menu ul li.active a,
nav.top-menu ul li a:hover {
    color: hsl(50, 8%, 8%);
}

div#menutoggle {
    padding-right: 28px;
}

div#menutoggle,
img#menutoggle-close {
    display: none;
}

@media screen and (max-width: 1024px) {
    div#menutoggle {
        display: initial;
    }
    nav#topmenu {
        display: none;
    }
}